// Display
.hidden {
  display: none !important;
}

.sr {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  margin: 0 !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.margin-x-auto {
  margin: 0 auto;
}

.footer-button {
  border: none;
  border-radius: $border-radius;
  padding: 0.75rem 2rem;
  font-family: inherit;
  letter-spacing: 2px;
  text-transform: uppercase;
  @include breakpoint(desktop) {
    transform: scale(1.0625);
  }
}
