// Display
.hidden {
  display: none !important;
}

.sr {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  margin: 0 !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.margin-x-auto {
  margin: 0 auto;
}
