@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import 'variables';
@import 'common';

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html,
body,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

@include headings {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  li::before {
    content: none;
  }
}

body {
  position: relative;
  background: $gradient-background;
  min-width: 100vw;
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.5;
  font-family: $base-font;
}

body,
#app {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2rem;
}
